header{
	width: calc( 100% - 170px );
	position: sticky;
	top: 8px;
	height: 0px;
	z-index: 2;
}
div.bookmark {
	width: 250px;
	height: 1.7em;
	background-image:linear-gradient(to right, #272727, darkolivegreen);
}
a {
	padding: 2px 5px;
	vertical-align: top;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color:tomato;
}
body {
	background-color:black;
}
div.column {
	display: inline-block;
	vertical-align: top;
}
div.column.operator {
	width: 49%;
}
div.column.pic {
	text-align: center;
}
div.column.pic.unit {
	width: 430px;
}
div.column.pic.op {
	width: 40%;
}
div.column.desc.unit {
	width: calc( 99% - 430px );
}
div.column.desc.op {
	width: 59%;
}
div.unit {
	padding-top: 5px;
	padding-bottom: 5px;
}
div.info {
	color: white;
	text-align: justify;
	font-size: 20px;
}
img.icon {
	max-width:20px;
    min-width:20px;
}
img.badge {
	max-height:300px;
    min-height:300px;
}
img.fullBody {
	max-height:500px;
    max-width: 100%;
}
img.avatar {
	max-height:125px;
    min-height:125px;
}
img.flag {
	min-height:50px;
	max-height:50px;
	border:solid white 1px;
}
h1, h2, h3, h4 {
	font-family: Stencil;
	font-weight: normal;
}
h1{
	color: tomato;
	text-align: center;
}
h2 {
	font-size:70px;
}
h3 {
	font-size:30px;
}
h3.op {
	color:white;
}
h4 {
	font-size:20px;
	color:white;
}
